#### Import Necessary Libraries

In [1]:
# Import the requests library to handle HTTP requests
import requests

# Import the pandas library to handle data in a tabular format
import pandas as pd

#### Collect Data from the API in JSON Format

In [2]:
# Set the URL for the SpaceX API to fetch data
URL = 'https://api.spacexdata.com/v4/launches'

# Fetch data from the API
response = requests.get(URL)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()
    
    # Print the JSON data
    print("Fetched JSON data:")
    print(data[:2])  # Displaying only the first two entries for brevity
else:
    # Print an error message if the request was not successful
    print(f"Failed to fetch data. HTTP Status code: {response.status_code}")

Fetched JSON data:
[{'fairings': {'reused': False, 'recovery_attempt': False, 'recovered': False, 'ships': []}, 'links': {'patch': {'small': 'https://images2.imgbox.com/94/f2/NN6Ph45r_o.png', 'large': 'https://images2.imgbox.com/5b/02/QcxHUb5V_o.png'}, 'reddit': {'campaign': None, 'launch': None, 'media': None, 'recovery': None}, 'flickr': {'small': [], 'original': []}, 'presskit': None, 'webcast': 'https://www.youtube.com/watch?v=0a_00nJ_Y88', 'youtube_id': '0a_00nJ_Y88', 'article': 'https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html', 'wikipedia': 'https://en.wikipedia.org/wiki/DemoSat'}, 'static_fire_date_utc': '2006-03-17T00:00:00.000Z', 'static_fire_date_unix': 1142553600, 'net': False, 'window': 0, 'rocket': '5e9d0d95eda69955f709d1eb', 'success': False, 'failures': [{'time': 33, 'altitude': None, 'reason': 'merlin engine failure'}], 'details': 'Engine failure at 33 seconds and loss of vehicle', 'crew': [], 'ships': [], 'capsules': [], 'payloads': ['5eb0e4b5b6c3bb0006eeb1e1'], 'launchpad': '5e9e4502f5090995de566f86', 'flight_number': 1, 'name': 'FalconSat', 'date_utc': '2006-03-24T22:30:00.000Z', 'date_unix': 1143239400, 'date_local': '2006-03-25T10:30:00+12:00', 'date_precision': 'hour', 'upcoming': False, 'cores': [{'core': '5e9e289df35918033d3b2623', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}], 'auto_update': True, 'tbd': False, 'launch_library_id': None, 'id': '5eb87cd9ffd86e000604b32a'}, {'fairings': {'reused': False, 'recovery_attempt': False, 'recovered': False, 'ships': []}, 'links': {'patch': {'small': 'https://images2.imgbox.com/f9/4a/ZboXReNb_o.png', 'large': 'https://images2.imgbox.com/80/a2/bkWotCIS_o.png'}, 'reddit': {'campaign': None, 'launch': None, 'media': None, 'recovery': None}, 'flickr': {'small': [], 'original': []}, 'presskit': None, 'webcast': 'https://www.youtube.com/watch?v=Lk4zQ2wP-Nc', 'youtube_id': 'Lk4zQ2wP-Nc', 'article': 'https://www.space.com/3590-spacex-falcon-1-rocket-fails-reach-orbit.html', 'wikipedia': 'https://en.wikipedia.org/wiki/DemoSat'}, 'static_fire_date_utc': None, 'static_fire_date_unix': None, 'net': False, 'window': 0, 'rocket': '5e9d0d95eda69955f709d1eb', 'success': False, 'failures': [{'time': 301, 'altitude': 289, 'reason': 'harmonic oscillation leading to premature engine shutdown'}], 'details': 'Successful first stage burn and transition to second stage, maximum altitude 289 km, Premature engine shutdown at T+7 min 30 s, Failed to reach orbit, Failed to recover first stage', 'crew': [], 'ships': [], 'capsules': [], 'payloads': ['5eb0e4b6b6c3bb0006eeb1e2'], 'launchpad': '5e9e4502f5090995de566f86', 'flight_number': 2, 'name': 'DemoSat', 'date_utc': '2007-03-21T01:10:00.000Z', 'date_unix': 1174439400, 'date_local': '2007-03-21T13:10:00+12:00', 'date_precision': 'hour', 'upcoming': False, 'cores': [{'core': '5e9e289ef35918416a3b2624', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}], 'auto_update': True, 'tbd': False, 'launch_library_id': None, 'id': '5eb87cdaffd86e000604b32b'}]

#### Transform Data into Tabular Format

In [3]:
# Check if the request was successful before transforming data
if response.status_code == 200:
    # Extract necessary data and convert it into a pandas DataFrame
    # The JSON response contains a list of dictionaries with SpaceX launch details
    launches_data = {
        'Flight Number': [entry['flight_number'] for entry in data],
        'Name': [entry['name'] for entry in data],
        'Date': [entry['date_utc'] for entry in data],
        'Success': [entry['success'] for entry in data],
        'Rocket': [entry['rocket'] for entry in data],
        'Crew': [entry.get('crew', []) for entry in data],
        'Capsules': [entry.get('capsules', []) for entry in data],
        'Landpads': [entry.get('landpads', []) for entry in data]
    }

    # Create a pandas DataFrame from the dictionary
    df = pd.DataFrame(launches_data)
    
    # Print a message indicating successful transformation
    print("Transformed data into tabular format.")
else:
    # Print an error message if the request was not successful
    print(f"Failed to fetch data. HTTP Status code: {response.status_code}")

Transformed data into tabular format.

#### Show the Tabular Formatted Data

In [4]:
df.head()

,Flight Number,Name,Date,Success,Rocket,Crew,Capsules,Landpads
0,1,FalconSat,2006-03-24T22:30:00.000Z,False,5e9d0d95eda69955f709d1eb,[],[],[]
1,2,DemoSat,2007-03-21T01:10:00.000Z,False,5e9d0d95eda69955f709d1eb,[],[],[]
2,3,Trailblazer,2008-08-03T03:34:00.000Z,False,5e9d0d95eda69955f709d1eb,[],[],[]
3,4,RatSat,2008-09-28T23:15:00.000Z,True,5e9d0d95eda69955f709d1eb,[],[],[]
4,5,RazakSat,2009-07-13T03:35:00.000Z,True,5e9d0d95eda69955f709d1eb,[],[],[]

In [5]:
df.shape

(205, 8)