In [1]:
# Import the requests library to handle HTTP requests
import requests

# Import the pandas library to handle data in a tabular format
import pandas as pd

In [2]:
# Set the URL for the COVID-19 API to fetch data
URL = 'https://disease.sh/v3/covid-19/countries'

# Fetch data from the API
response = requests.get(URL)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()
    
    # Print the JSON data
    print("Fetched JSON data:")
    print(data[:2])  # Displaying only the first two entries for brevity
else:
    # Print an error message if the request was not successful
    print(f"Failed to fetch data. HTTP Status code: {response.status_code}")

Fetched JSON data:
[{'updated': 1723157572801, 'country': 'Afghanistan', 'countryInfo': {'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat': 33, 'long': 65, 'flag': 'https://disease.sh/assets/img/flags/af.png'}, 'cases': 234174, 'todayCases': 0, 'deaths': 7996, 'todayDeaths': 0, 'recovered': 211080, 'todayRecovered': 0, 'active': 15098, 'critical': 0, 'casesPerOneMillion': 5746, 'deathsPerOneMillion': 196, 'tests': 1390730, 'testsPerOneMillion': 34125, 'population': 40754388, 'continent': 'Asia', 'oneCasePerPeople': 174, 'oneDeathPerPeople': 5097, 'oneTestPerPeople': 29, 'activePerOneMillion': 370.46, 'recoveredPerOneMillion': 5179.32, 'criticalPerOneMillion': 0}, {'updated': 1723157572792, 'country': 'Albania', 'countryInfo': {'_id': 8, 'iso2': 'AL', 'iso3': 'ALB', 'lat': 41, 'long': 20, 'flag': 'https://disease.sh/assets/img/flags/al.png'}, 'cases': 334863, 'todayCases': 0, 'deaths': 3605, 'todayDeaths': 0, 'recovered': 330233, 'todayRecovered': 0, 'active': 1025, 'critical': 0, 'casesPerOneMillion': 116825, 'deathsPerOneMillion': 1258, 'tests': 1941032, 'testsPerOneMillion': 677173, 'population': 2866374, 'continent': 'Europe', 'oneCasePerPeople': 9, 'oneDeathPerPeople': 795, 'oneTestPerPeople': 1, 'activePerOneMillion': 357.59, 'recoveredPerOneMillion': 115209.32, 'criticalPerOneMillion': 0}]

Transform Data into Tabular Format

In [3]:
# Check if the request was successful before transforming data
if response.status_code == 200:
    # Extract necessary data and convert it into a pandas DataFrame
    # The JSON response contains a list of dictionaries with COVID-19 statistics for each country
    covid_data = {
        'Country': [entry['country'] for entry in data],
        'Cases': [entry['cases'] for entry in data],
        'Deaths': [entry['deaths'] for entry in data],
        'Recovered': [entry['recovered'] for entry in data],
        'Active': [entry['active'] for entry in data],
        'Cases per Million': [entry['casesPerOneMillion'] for entry in data],
        'Deaths per Million': [entry['deathsPerOneMillion'] for entry in data],
        'Population': [entry['population'] for entry in data]
    }

    # Create a pandas DataFrame from the dictionary
    df = pd.DataFrame(covid_data)
    
    # Print a message indicating successful transformation
    print("Transformed data into tabular format.")
else:
    # Print an error message if the request was not successful
    print(f"Failed to fetch data. HTTP Status code: {response.status_code}")

Transformed data into tabular format.

Show the Tabular Formatted Data

In [4]:
df.head()

,Country,Cases,Deaths,Recovered,Active,Cases per Million,Deaths per Million,Population
0,Afghanistan,234174,7996,211080,15098,5746,196,40754388
1,Albania,334863,3605,330233,1025,116825,1258,2866374
2,Algeria,272010,6881,183061,82068,5998,152,45350148
3,Andorra,48015,165,0,47850,619844,2130,77463
4,Angola,107327,1937,103419,1971,3064,55,35027343

In [5]:
df.shape

(231, 8)