## Step 1: Install Necessary Libraries

In [7]:
# # First, we need to install the required packages. Run the following cell to install requests and pandas if they are not already installed.
# # Install the necessary packages
# !pip install requests pandas

## Step 2: Import Necessary Libraries

In [2]:
# Next, we import the necessary libraries.
# Import the requests library to handle HTTP requests
import requests

# Import the pandas library to handle data in a tabular format
import pandas as pd

## Step 3: Collect Data from the API in JSON Format

In [3]:
# We'll fetch dog breed data from The Dog API and display the JSON data.
# Set the URL for The Dog API to fetch dog breed data
URL = 'https://dog.ceo/api/breeds/list/all'

# Fetch data from the API
response = requests.get(URL)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()
    
    # Print the JSON data
    print("Fetched JSON data:")
    print(data)
else:
    # Print an error message if the request was not successful
    print(f"Failed to fetch data. HTTP Status code: {response.status_code}")

Fetched JSON data:
{'message': {'affenpinscher': [], 'african': [], 'airedale': [], 'akita': [], 'appenzeller': [], 'australian': ['kelpie', 'shepherd'], 'bakharwal': ['indian'], 'basenji': [], 'beagle': [], 'bluetick': [], 'borzoi': [], 'bouvier': [], 'boxer': [], 'brabancon': [], 'briard': [], 'buhund': ['norwegian'], 'bulldog': ['boston', 'english', 'french'], 'bullterrier': ['staffordshire'], 'cattledog': ['australian'], 'cavapoo': [], 'chihuahua': [], 'chippiparai': ['indian'], 'chow': [], 'clumber': [], 'cockapoo': [], 'collie': ['border'], 'coonhound': [], 'corgi': ['cardigan'], 'cotondetulear': [], 'dachshund': [], 'dalmatian': [], 'dane': ['great'], 'danish': ['swedish'], 'deerhound': ['scottish'], 'dhole': [], 'dingo': [], 'doberman': [], 'elkhound': ['norwegian'], 'entlebucher': [], 'eskimo': [], 'finnish': ['lapphund'], 'frise': ['bichon'], 'gaddi': ['indian'], 'germanshepherd': [], 'greyhound': ['indian', 'italian'], 'groenendael': [], 'havanese': [], 'hound': ['afghan', 'basset', 'blood', 'english', 'ibizan', 'plott', 'walker'], 'husky': [], 'keeshond': [], 'kelpie': [], 'kombai': [], 'komondor': [], 'kuvasz': [], 'labradoodle': [], 'labrador': [], 'leonberg': [], 'lhasa': [], 'malamute': [], 'malinois': [], 'maltese': [], 'mastiff': ['bull', 'english', 'indian', 'tibetan'], 'mexicanhairless': [], 'mix': [], 'mountain': ['bernese', 'swiss'], 'mudhol': ['indian'], 'newfoundland': [], 'otterhound': [], 'ovcharka': ['caucasian'], 'papillon': [], 'pariah': ['indian'], 'pekinese': [], 'pembroke': [], 'pinscher': ['miniature'], 'pitbull': [], 'pointer': ['german', 'germanlonghair'], 'pomeranian': [], 'poodle': ['medium', 'miniature', 'standard', 'toy'], 'pug': [], 'puggle': [], 'pyrenees': [], 'rajapalayam': ['indian'], 'redbone': [], 'retriever': ['chesapeake', 'curly', 'flatcoated', 'golden'], 'ridgeback': ['rhodesian'], 'rottweiler': [], 'saluki': [], 'samoyed': [], 'schipperke': [], 'schnauzer': ['giant', 'miniature'], 'segugio': ['italian'], 'setter': ['english', 'gordon', 'irish'], 'sharpei': [], 'sheepdog': ['english', 'indian', 'shetland'], 'shiba': [], 'shihtzu': [], 'spaniel': ['blenheim', 'brittany', 'cocker', 'irish', 'japanese', 'sussex', 'welsh'], 'spitz': ['indian', 'japanese'], 'springer': ['english'], 'stbernard': [], 'terrier': ['american', 'australian', 'bedlington', 'border', 'cairn', 'dandie', 'fox', 'irish', 'kerryblue', 'lakeland', 'norfolk', 'norwich', 'patterdale', 'russell', 'scottish', 'sealyham', 'silky', 'tibetan', 'toy', 'welsh', 'westhighland', 'wheaten', 'yorkshire'], 'tervuren': [], 'vizsla': [], 'waterdog': ['spanish'], 'weimaraner': [], 'whippet': [], 'wolfhound': ['irish']}, 'status': 'success'}

## Step 4: Transform Data into Tabular Format

In [5]:
# We'll transform the JSON data into a pandas DataFrame for easier analysis and manipulation.
# Check if the request was successful before transforming data
if response.status_code == 200:
    # Extract necessary data and convert it into a pandas DataFrame
    # The JSON response contains a dictionary with breed names as keys and lists of sub-breeds as values
    breeds_data = {
        'Breed': list(data['message'].keys()),
        'Sub-breeds': [','.join(data['message'][breed]) for breed in data['message']]
    }

    # Create a pandas DataFrame from the dictionary
    df = pd.DataFrame(breeds_data)
    
    # Print a message indicating successful transformation
    print("Transformed data into tabular format.")
else:
    # Print an error message if the request was not successful
    print(f"Failed to fetch data. HTTP Status code: {response.status_code}")

Transformed data into tabular format.

## Step 5: Show the Tabular Formatted Data

In [6]:
# Finally, we'll display the transformed data in a tabular format.
df.head()

           Breed Sub-breeds
0  affenpinscher
1        african
2       airedale
3          akita
4    appenzeller